{{#section 'css'}}
{{!-- plyr.io --}}
<link rel="stylesheet" href="https://cdn.plyr.io/3.6.3/plyr.css" />
<link rel="" {{!-- stars --}} {{!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
  rel="stylesheet" id="bootstrap-css"> --}}
<link rel="stylesheet" href="/public/css/style.css" />

{{/section}}

{{#section 'js'}}
<script src="https://cdn.plyr.io/3.6.3/plyr.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const player = new Plyr('#player');
    window.player = player;

    $('#displayModal').on('hide.bs.modal', function (e) {
      player.stop();
      $('.course-lessons').css('background-color', 'transparent');
    });
    $('#displayModal').on('shown.bs.modal', function (e) {
      const sourceVideo = $('#srcModal').val();
      player.source = {
        type: 'video',
        sources: [
          {
            src: sourceVideo,
            provider: 'youtube',
          },
        ],
      };
      let courseList = $('.course-lessons').toArray();
      for (let i = 0; i < courseList.length; i++) {
        if (courseList[i].dataset.src === sourceVideo) {
          courseList[i].style.backgroundColor = '#000';
        } else {
          courseList[i].style.backgroundColor = 'transparent';
        }
      }
    });

    $('.course-lessons').click(function () {
      $('.course-lessons').css('background-color', 'transparent');
      $(this).css('background-color', '#000');

      const sourceVideo = $(this).data('src');
      player.source = {
        type: 'video',
        sources: [
          {
            src: sourceVideo,
            provider: 'youtube',
          },
        ],
      };
    });

    $('.course-lessons-content').click(function () {
      $('#srcModal').val($(this).data('src'));

    })

    $('.single-prd-item').click(function () {
      $('#srcModal').val($(this).data('src'));
    });
  })
</script>

{{!-- Feedback Star's js --}}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<script>
  // Starrr plugin (https://github.com/dobtco/starrr)
  var __slice = [].slice;

  (function ($, window) {
    var Starrr;

    Starrr = (function () {
      Starrr.prototype.defaults = {
        rating: void 0,
        numStars: 5,
        change: function (e, value) { }
      };

      function Starrr($el, options) {
        var i, _, _ref,
          _this = this;

        this.options = $.extend({}, this.defaults, options);
        this.$el = $el;
        _ref = this.defaults;
        for (i in _ref) {
          _ = _ref[i];
          if (this.$el.data(i) != null) {
            this.options[i] = this.$el.data(i);
          }
        }
        this.createStars();
        this.syncRating();
        this.$el.on('mouseover.starrr', 'span', function (e) {
          return _this.syncRating(_this.$el.find('span').index(e.currentTarget) + 1);
        });
        this.$el.on('mouseout.starrr', function () {
          return _this.syncRating();
        });
        this.$el.on('click.starrr', 'span', function (e) {
          return _this.setRating(_this.$el.find('span').index(e.currentTarget) + 1);
        });
        this.$el.on('starrr:change', this.options.change);
      }

      Starrr.prototype.createStars = function () {
        var _i, _ref, _results;

        _results = [];
        for (_i = 1, _ref = this.options.numStars; 1 <= _ref ? _i <= _ref : _i >= _ref; 1 <= _ref ? _i++ : _i--) {
          _results.push(this.$el.append("<span class='glyphicon .glyphicon-star-empty'></span>"));
        }
        return _results;
      };

      Starrr.prototype.setRating = function (rating) {
        if (this.options.rating === rating) {
          rating = void 0;
        }
        this.options.rating = rating;
        this.syncRating();
        return this.$el.trigger('starrr:change', rating);
      };

      Starrr.prototype.syncRating = function (rating) {
        var i, _i, _j, _ref;

        rating || (rating = this.options.rating);
        if (rating) {
          for (i = _i = 0, _ref = rating - 1; 0 <= _ref ? _i <= _ref : _i >= _ref; i = 0 <= _ref ? ++_i : --_i) {
            this.$el.find('span').eq(i).removeClass('glyphicon-star-empty').addClass('glyphicon-star');
          }
        }
        if (rating && rating < 5) {
          for (i = _j = rating; rating <= 4 ? _j <= 4 : _j >= 4; i = rating <= 4 ? ++_j : --_j) {
            this.$el.find('span').eq(i).removeClass('glyphicon-star').addClass('glyphicon-star-empty');
          }
        }
        if (!rating) {
          return this.$el.find('span').removeClass('glyphicon-star').addClass('glyphicon-star-empty');
        }
      };

      return Starrr;

    })();
    return $.fn.extend({
      starrr: function () {
        var args, option;

        option = arguments[0], args = 2 <= arguments.length ? __slice.call(arguments, 1) : [];
        return this.each(function () {
          var data;

          data = $(this).data('star-rating');
          if (!data) {
            $(this).data('star-rating', (data = new Starrr($(this), option)));
          }
          if (typeof option === 'string') {
            return data[option].apply(data, args);
          }
        });
      }
    });
  })(window.jQuery, window);

  $(function () {
    return $(".starrr").starrr();
  });

  $(document).ready(function () {

    $('#stars').on('starrr:change', function (e, value) {
      $('#count').html(value);
    });

    $('#stars-existing').on('starrr:change', function (e, value) {
      $('#count-existing').html(value);
    });
  });

  $('#frmFeedback').on('submit', function (e) {
    $('#txtPoint').val($('#count').html());
  })
</script>
{{!-- Feedback Star's js --}}
{{/section}}
<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="blog">
  <div class="container h-100">
    <div class="blog-banner">
      <div class="text-center">
        <h1>Course Detail</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Course Detail
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- ================ end banner area ================= -->
<!--================Single Product Area =================-->
<div class="product_image_area">
  <div class="container">
    <div class="row s_product_inner">
      <div class="col-lg-6">
        <input type="hidden" id="srcModal">
        <div class="single-prd-item btn" data-toggle="modal" data-target="#displayModal"
          data-src="{{this.firstLesson.videoPath}}">
          <img class=" detail-img" src="{{this.course.imagePath}}" alt="image" />
          <div class="background-icon"></div>
          <div class="icon-play">
            <i class="fa fa-play-circle-o fa-4x" aria-hidden="true"></i>
          </div>

        </div>
      </div>

      <div class="col-lg-5 offset-lg-1">
        <form id="form-cart" action="/cart/add" method="POST">
          <div class="s_product_text">
            <h3><strong>{{this.course.title}}</strong></h3>
            <h2>${{this.course.price}}</h2>
            <ul class="list">
              <li>
                <a class="active" href="#">
                  <span>Field</span> : <strong>{{this.course.name}}</strong>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>Teacher ID</span> : {{this.course.idTeacher}}
                </a>
              </li>
              <li>
                <a href="#">
                  <span>Last update</span> : {{this.course.lastModified}}
                </a>
              </li>
            </ul>
            <p>
              {{this.course.description}}
            </p>
            <div class="product_count">
              <button class="button primary-btn" type="submit">Add to Cart</button>
              <input type="hidden" value="{{this.course.idCourse}}" name="id">
            </div>
            <div class="card_area d-flex align-items-center">
              <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
              <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--================End Single Product Area =================-->
<!--================Modal ==================-->
<div class="modal fade" id="displayModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalLabel">
          <h6 class="text-white-50">Preview</h6>
          <h4 class="text-white">{{this.course.title}}</h4>
        </div>

        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="embedded-media-player">
            <div class="plyr__video-embed" id="player">
              <iframe src="{{this.firstLesson.videoPath}}" allowfullscreen allowtransparency allow="autoplay"></iframe>
            </div>
          </div>

          <div class="lesson-text">
            <h6 class="text-white">Lesson Videos:</h6>
          </div>

          {{#each this.lessons }}
          <<<<<<< Updated upstream {{#if ../isRegister}}======={{#if isPreview}}>>>>>>> Stashed changes
            <div class="course-lessons" data-src="{{videoPath}}">
              <div class="course-lesson-row">
                <div class="course-lesson-row-thumbnail">
                  <img alt="" width="640" height="480" class="course-lesson-row-thumbnail-img" src="{{imagePath}}">
                </div>
                <div class="course-lesson-row-description">{{chapterName}}</div>
                <div class="course-lesson-row-duration">{{duration}}</div>
              </div>
            </div>
            <<<<<<< Updated upstream {{else}} {{#if isPreview}} <div class="course-lessons" data-src="{{videoPath}}">
              <div class="course-lesson-row">
                <div class="course-lesson-row-thumbnail">
                  <img alt="" width="640" height="480" class="course-lesson-row-thumbnail-img" src="{{imagePath}}">
                </div>
                <div class="course-lesson-row-description">{{chapterName}}</div>
                <div class="course-lesson-row-duration">{{duration}}</div>
              </div>
        </div>
        {{/if}}
        =======
        >>>>>>> Stashed changes
        {{/if}}
        {{/each}}

      </div>
    </div>
  </div>
</div>
</div>
<!--================End Modal ==================-->

<!--================Product Description Area =================-->
<section class="product_description_area">
  <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
          aria-selected="true">Description</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
          aria-selected="false">Course's Detail</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
          aria-selected="false">Course Content</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
          aria-selected="false">Reviews</a>
      </li>
    </ul>
    <!--================Course's Description =================-->
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
        {{{this.course.description}}}
      </div>
      <!--================Course's Detail =================-->
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        {{{this.course.detail}}}
      </div>
      <!--================Course's Content =================-->
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div>
          {{#each this.lessons }}
          <<<<<<< Updated upstream {{#if ../isRegister}} <div class="course-lessons-content" data-toggle="modal"
            data-target="#displayModal" data-src="{{videoPath}}">
            =======
            <div class="course-lessons-content" {{#if isPreview}}data-toggle="modal" data-target="#displayModal"
              data-src="{{videoPath}}" {{/if}}>
              >>>>>>> Stashed changes
              <div class="course-lesson-content-row row" id="{{chapter}}">
                <div class="col-md-1"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
                <div class="col-md-9">
                  <div class="course-lesson-content-row-name">{{chapterName}}</div>
                </div>
                <<<<<<< Updated upstream <div class="col-md-1"><span class="course-lesson-content-row-preview">{{#if
                    isPreview}}Preview{{/if}}</span>
              </div>

              <div class="col-md-1"><span class="course-lesson-content-row-duration">{{duration}}</span></div>
            </div>
        </div>
        {{else}}
        <div class="course-lessons-content" {{#if isPreview}}data-toggle="modal" data-target="#displayModal"
          data-src="{{videoPath}}" {{/if}}>
          <div class="course-lesson-content-row row" id="{{chapter}}">
            <div class="col-md-1"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
            <div class="col-md-9">
              <div class="course-lesson-content-row-name">{{chapterName}}</div>
            </div>

            <div class="col-md-1"><span class="course-lesson-content-row-preview">{{#if
                isPreview}}Preview{{/if}}</span>
            </div>

            <div class="col-md-1"><span class="course-lesson-content-row-duration">{{duration}}</span></div>
          </div>
        </div>
        {{/if}}
        =======

        <div class="col-md-1"><span class="course-lesson-content-row-preview">{{#if
            isPreview}}Preview{{/if}}</span>
        </div>

        <div class="col-md-1"><span class="course-lesson-content-row-duration">{{duration}}</span></div>
      </div>
    </div>
    >>>>>>> Stashed changes
    {{/each}}
  </div>
  </div>
  <!--================Course's Reviews =================-->
  <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
    {{#if isRegister}}
    <div class="row">
      <div class="col-lg-6">
        <div class="row total_rate">
          <div class="col-6">
            <div class="box_total">
              <h5>Overall</h5>
              <h4>{{total_feedback_point}}</h4>
              <h6>({{count_feedback}} Reviews)</h6>
            </div>
          </div>
          <div class="col-6">
            <div class="rating_list">
              <h3>Based on {{count_feedback}} Reviews</h3>
              <ul class="list">
                {{#each count_feedbacks_star }}
                <li>
                  <a href="#">{{star}} Star
                    <<<<<<< Updated upstream {{{calcStarsDetail star}}}======={{{calcStars star}}}>>>>>>> Stashed
                      changes
                      {{count}}
                  </a>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
        <div class="review_list">
          {{#each feedbacks}}
          <div class="review_item">
            <div class="media">
              <div class="d-flex">
                <img src="/public/images/user-male.png" style="width: 150px; height:150px" alt="" />
              </div>
              <div class="media-body">
                <h4>{{fullname}} - {{dateRating}}</h4>
                <script>
                  for (let i = 0; i < {{ ratingPoint }}; i++) {
                    document.write('<i class="fa fa-star"></i>');
                  }
                  for (let i = 0; i < 5 - {{ ratingPoint }}; i++) {
                    document.write('<i class="fa fa-star-o"></i>');
                  }
                </script>
              </div>
            </div>
            <p>
              {{ratingComment}}
            </p>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="col-lg-6">
        <div class="review_box">
          <h3>Add a Review</h3>
          <p>Your Rating:</p>
          <form id="frmFeedback" method="POST" action="">
            <div id="stars" class="starrr"></div>
            <p>You gave a rating of <span id="count"> 0 </span> star(s)</p>
            <input type="hidden" id="txtPoint" name="ratingPoint" value="">

            <input type="hidden" name="idUser" value="{{authUser.idUser}}">

            <div class="form-group">
              <textarea class="form-control different-control w-100" name="ratingComment" id="txtComment" cols="30"
                rows="5" placeholder="Enter Message"></textarea>
            </div>
            <div class="form-group text-center text-md-right mt-3">
              <button type="submit" class="button button--active button-review">
                Submit Now
              </button>
            </div>
          </form>
        </div>
      </div>
      {{else}}
      <div class="row">
        <div class="col-lg-12">
          <div class="row total_rate">
            <div class="col-12">
              <div class="box_total">
                <h5>Overall</h5>
                <h4>{{total_feedback_point}}</h4>
                <h6>({{count_feedback}} Reviews)</h6>
              </div>
            </div>
            <div class="col-12 d-flex justify-content-center mt-3">
              <div class="rating_list">
                <h3>Based on {{count_feedback}} Reviews</h3>
                <ul class="list">
                  {{#each count_feedbacks_star }}
                  <li>
                    <a href="#">{{star}} Star
                      {{{calcStarsDetail star}}}

                      {{count}}
                    </a>
                  </li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>
          <div class="review_list">
            {{#each feedbacks}}
            <div class="review_item">
              <div class="media">
                <div class="d-flex">
                  <img src="/public/images/user-male.png" style="width: 150px; height:150px" alt="" />
                </div>
                <div class="media-body">
                  <h4>{{fullname}} - {{dateRating}}</h4>
                  <script>
                    for (let i = 0; i < {{ ratingPoint }}; i++) {
                      document.write('<i class="fa fa-star"></i>');
                    }
                    for (let i = 0; i < 5 - {{ ratingPoint }}; i++) {
                      document.write('<i class="fa fa-star-o"></i>');
                    }
                  </script>
                </div>
              </div>
              <p>
                {{ratingComment}}
              </p>
            </div>
            {{/each}}
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
  </div>
</section>
<!--================End Product Description Area =================-->

<!--================Instructor Area =================-->

<section class="related-product-area section-margin--small mt-0">
  <div class="container">
    <div class="section-intro pb-60px">
      <h2><span class="section-intro__style">Instructor</span></h2>
    </div>
    <h4>{{fullname}}</h4>
    <hr>
    <div class="media">
      <img src="/public/images/user-male.png" style="width: 180px; height:180px" alt=""/>
      <div class="media-body ml-3">
        <i class="fa fa-star my-2" aria-hidden="true"></i> <br>
        <i class="fa fa-anchor my-2" aria-hidden="true"></i> <br>
        <i class="fa fa-apple my-2" aria-hidden="true"></i> <br>
        <i class="fa fa-phone my-2" aria-hidden="true"></i> <br>
      </div>
    </div>
    <p>
      {{{userDescription}}}
    </p>
  </div>
</section>

<!--================ Start related Product area =================-->
<section class="related-product-area section-margin--small mt-0">
  <div class="container">
    <div class="section-intro pb-60px">
      <h2><span class="section-intro__style">Top 5 courses in the same field</span></h2>
    </div>

    <!-- Carousel -->
    <div class="owl-carousel owl-theme myCarousel">

      <!-- Carousel items -->
      {{#each this.topRegister }}
      <div class="product-grid4 h-100">
        <div class="product-image4">
          <a href="#">
            <img class="pic-1" style="height: 150px; width:255px" src="{{imagePath}}">
            <img class="pic-2" style="height: 150px; width:255px" src="{{imagePath}}">
          </a>
          <ul class="social">
            <li><a href="/admin/courses/edit/{{idCourse}}" data-tip="Quick View" role="button"><i
                  class="fa fa-eye"></i></a></li>
            <li><a href="/courses/detail/{{idCourse}}" data-tip="Like the course" role="button"><i
                  class="fa fa-heart"></i></a></li>
            <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <span class="product-new-label">New</span>
          <span class="product-discount-label">-10%</span>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="">{{title}}</a></h3>
          <span class="teacher"><a href="">{{fullname}}</a></span>
          <ul class="rating">
            {{{calcStars total_point}}}
          </ul>
          <div class="price">
            ${{price}}
            <span>$5.00</span>
          </div>
          <a class="add-to-cart" href="#">ADD TO CART</a>
        </div>
      </div>
      {{/each}}
    </div>
    <!--.Carousel-->
  </div>
</section>
<!--================ end related Product area =================-->