{{#section 'css'}}
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

{{#section 'js'}}
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script>
        $('#txtDob').datetimepicker({
            format: 'd/m/Y',
            timepicker: false,
            mask: true,
            scrollInput: false
        });

        function checkEmail(email) {
            if (/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(email)) {
                return true;

            } else {
                return false;
            }
        }

        $('#frmEdit').on('submit', function (e) {
            e.preventDefault();

            const username = $('#txtUsername').val();
            const name = $('#txtFullName').val();
            const email = $('#txtEmail').val();
            const dob = $('#txtDob').val();

            if (username.length === 0) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Invalid username',
                    icon: 'error',
                    confirmButtonText: 'Retry'
                })
                return;
            } else if (name.length === 0) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Invalid Name',
                    icon: 'error',
                    confirmButtonText: 'Retry'
                })
                return;
            } else if (checkEmail(email) === false) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Invalid email',
                    icon: 'error',
                    confirmButtonText: 'Retry'
                })
                return;
            } else if (dob.length === 0) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Invalid Date of Birth',
                    icon: 'error',
                    confirmButtonText: 'Retry'
                })
                return;
            } else {
                if (username !== "{{this.user.username}}") {
                    $.getJSON(`/account/isAvailable?user=${username}`, function (data) {
                        if (data === false) {
                            Swal.fire({
                                title: 'Error!',
                                text: 'Username already exists! Please enter another username',
                                icon: 'error',
                                confirmButtonText: 'Retry'
                            });
                            return;
                        }
                    })
                }
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Change successfully',
                    showConfirmButton: false,
                    timer: 1000
                }).then(function () {
                    $('#frmEdit').off('submit').submit();
                });

            }
        })
    </script>

{{/section}}
<form id="frmEdit" method="POST" action="/account/patch">
    <div class="card shadow">
        <div class="card-header">
            <h4>Edit Profile</h4>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="txtUsername">Username</label>
                <input type="text" class="form-control" id="txtUsername" name="username" value="{{this.user.username}}">
            </div>

            <div class="form-group">
                <label for="txtFullName">Full name</label>
                <input type="text" class="form-control" id="txtFullName" name="fullname" value="{{this.user.fullname}}">
            </div>

            <div class="form-group">
                <label for="txtEmail">Email</label>
                <input type="text" class="form-control" id="txtEmail" name="email" value="{{this.user.email}}">
            </div>

            <div class="form-group">
                <label for="txtDob">Date of Birth</label>
                <input type="text" class="form-control" id="txtDob" name="dob" value="{{this.user.dob}}">
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" id="txtRole" name="role" value="student">
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" id="txtId" name="id" value="{{this.user.id}}">
            </div>

        </div>
        <div class="card-footer">
            <button class="btn btn-success" type="submit">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </div>
    </div>
</form>