<div class="container">
    <div class="mt-3 mb-5 border-bottom">
        <h3 class="text-white mb-3">Top courses in week</h3>
        <div class="row mb-4">
            <div class="col-md-12">
                <div id="blogCarousel1" class="carousel slide">

                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                {{#each courses }}
                                    <div class="col">
                                        <a><img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                            <div>
                                                <h5 class="text-white">{{title}}</h5>
                                            </div>
                                            <div class="text-white-50">{{fullname}}</div>
                                            <div>
                                                <h4 class="text-white">${{price}}</h4>
                                            </div>
                                            {{!-- <div class="text-white">{{detail}}</div> --}}
                                        </a>

                                    </div>

                                {{/each}}
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->

                        <div class="carousel-item">
                            <div class="row">
                                {{#each subCourses }}
                                    <div class="col">
                                        <a href="#">
                                            <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                        </a>
                                        <div>
                                            <h5 class="text-white">{{title}}</h5>
                                        </div>
                                        <div class="text-white-50">{{fullname}}</div>
                                        <div>
                                            <span>
                                                <h4 class="text-white">${{price}}</h4>
                                            </span>
                                        </div>
                                        {{!-- <div class="text-white">{{detail}}</div> --}}
                                    </div>
                                {{/each}}
                                {{!-- <div class="col-md-3">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div> --}}
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->

                    </div>
                    <!--.carousel-inner-->
                    <a class="carousel-control-prev d-flex justify-content-start" href="#blogCarousel1" role="button"
                        data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next d-flex justify-content-end" href="#blogCarousel1" role="button"
                        data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <!--.Carousel-->

            </div>
        </div>
    </div>

    <div class="mt-3 mb-5 border-bottom">
        <h3 class="text-white mb-3">Top the most view courses</h3>
        <div class="row mb-4">
            <div class="col-md-12">
                <div id="blogCarousel2" class="carousel slide">

                    <!-- Carousel items -->
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->

                    </div>
                    <!--.carousel-inner-->
                    <a class="carousel-control-prev d-flex justify-content-start" href="#blogCarousel2" role="button"
                        data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next d-flex justify-content-end" href="#blogCarousel2" role="button"
                        data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <!--.Carousel-->

            </div>
        </div>
    </div>

    <div class="mt-3 mb-5 border-bottom">
        <h3 class="text-white mb-3">New courses</h3>
        <div class="row mb-4">
            <div class="col-md-12">
                <div id="blogCarousel3" class="carousel slide">

                    <!-- Carousel items -->
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->

                    </div>
                    <!--.carousel-inner-->
                    <a class="carousel-control-prev d-flex justify-content-between" href="#blogCarousel3" role="button"
                        data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next d-flex justify-content-end" href="#blogCarousel3" role="button"
                        data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <!--.Carousel-->

            </div>
        </div>
    </div>

    <div class="mt-3 mb-5 border-bottom">
        <h3 class="text-white mb-3">Top the most registered category</h3>
        <div class="row mb-4">
            <div class="col-md-12">
                <div id="blogCarousel4" class="carousel slide">

                    <!-- Carousel items -->
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <img src="/public/images/test.jpg" class="d-block w-100" alt="Image">
                                    </a>
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->

                    </div>
                    <!--.carousel-inner-->
                    <a class="carousel-control-prev d-flex justify-content-start" href="#blogCarousel4" role="button"
                        data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next d-flex justify-content-end" href="#blogCarousel4" role="button"
                        data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <!--.Carousel-->

            </div>
        </div>
    </div>
</div>