<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 d-flex align-items-center">
                <div class="banner-content">
                    <h2><b>Up To 50% Off</b></h2>
                    <h3><b>Your Course to Success</b></h3>
                    <p>Build skills with courses, certificates, and degrees online from world-class universities and
                        companies.</p>
                    <a class="btn btn-info mt-2 mt-xl-3" href="/account/signin">Join now</a>
                </div>
            </div>
            <div class="col-xl-5">
                <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/front-page-rebrand/hero/hero-b.png?auto=format%2Ccompress&dpr=1&w=459&h=497&q=40"
                    alt="Image Banner">
            </div>
        </div>
    </div>
</div>

<div class="achieve">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2><b>Achieve your goals with Online Academy</b></h2>
            </div>
        </div>
        <div class="goals">
            <div class="row">
                <div class="col">
                    <div class="goals-img">
                        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/front-page-rebrand/achieve-your-goals/Icon-Learn.svg?auto=format%2Ccompress&amp;dpr=1&amp;w=&amp;h=55"
                            srcset="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/front-page-rebrand/achieve-your-goals/Icon-Learn.svg?auto=format%2Ccompress&amp;dpr=2&amp;w=&amp;h=55 2x, https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/front-page-rebrand/achieve-your-goals/Icon-Learn.svg?auto=format%2Ccompress&amp;dpr=3&amp;w=&amp;h=55 3x"
                            class="_laqrpf" style="max-height:55px" alt="">
                    </div>
                    <div class="goals-content">
                        <span>
                            <b>Learn the <br>latest skills</b>
                            <small>like business analytics, graphic design, Python, and more</small>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <div class="goals-img">
                        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/front-page-rebrand/achieve-your-goals/Icon-Get-Ready.svg?auto=format%2Ccompress&amp;dpr=1&amp;w=&amp;h=55"
                            srcset="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/front-page-rebrand/achieve-your-goals/Icon-Get-Ready.svg?auto=format%2Ccompress&amp;dpr=2&amp;w=&amp;h=55 2x, https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/front-page-rebrand/achieve-your-goals/Icon-Get-Ready.svg?auto=format%2Ccompress&amp;dpr=3&amp;w=&amp;h=55 3x"
                            class="_laqrpf" style="max-height:55px" alt="">
                    </div>
                    <div class="goals-content">
                        <span>
                            <b>Get ready <br>for a career</b>

                            <small>in high-demand fields like IT, AI and cloud engineering</small>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <div class="goals-img">
                        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/front-page-rebrand/achieve-your-goals/Icon-Earn-Degree.svg?auto=format%2Ccompress&amp;dpr=1&amp;w=&amp;h=55"
                            srcset="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/front-page-rebrand/achieve-your-goals/Icon-Earn-Degree.svg?auto=format%2Ccompress&amp;dpr=2&amp;w=&amp;h=55 2x, https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/front-page-rebrand/achieve-your-goals/Icon-Earn-Degree.svg?auto=format%2Ccompress&amp;dpr=3&amp;w=&amp;h=55 3x"
                            class="_laqrpf" style="max-height:55px" alt="">
                    </div>
                    <div class="goals-content">
                        <span>
                            <b>Earn <br>a degree</b>
                            <small>from a
                                leading university in business, computer science, and more
                            </small>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <div class="goals-img">
                        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/front-page-rebrand/achieve-your-goals/Icon-Upskill-your-org.svg?auto=format%2Ccompress&amp;dpr=1&amp;w=&amp;h=55"
                            srcset="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/front-page-rebrand/achieve-your-goals/Icon-Upskill-your-org.svg?auto=format%2Ccompress&amp;dpr=2&amp;w=&amp;h=55 2x, https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/front-page-rebrand/achieve-your-goals/Icon-Upskill-your-org.svg?auto=format%2Ccompress&amp;dpr=3&amp;w=&amp;h=55 3x"
                            class="_laqrpf" style="max-height:55px" alt="">
                    </div>
                    <div class="goals-content">
                        <span>
                            <b>Upskill your <br>organization</b>
                            <small>
                                with on-demand training and development programs
                            </small>
                        </span>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="topCourse">
    <div class="container">
        <h3>Top courses in week</h3>

        <!-- Carousel -->
        <div class="owl-carousel owl-theme myCarousel">

            <!-- Carousel items -->
            {{#each this.topCourses }}
            {{#unless disable}}
            <div class="product-grid4 h-100">
                <div class="product-image4">
                    <a href="/courses/detail/{{idCourse}}">
                        <img class="pic-1" style="height: 150px" src="{{imagePath}}">
                        <img class="pic-2" style="height: 150px" src="{{imagePath}}">
                    </a>
                    <ul class="social">
                        <li><a href="/courses/detail/{{idCourse}}" data-tip="Quick View" role="button"><i
                                    class="fa fa-eye"></i></a></li>
                        {{#if ../auth}}
                        {{#unless isFavorite}}
                        <li><a href="/account/favoriteCourses/add/{{idCourse}}" data-tip="Like the course"
                                role="button"><i class="fa fa-heart"></i></a></li>
                        {{/unless}}
                        {{#unless ../isTeacher}}
                        {{#unless ../isAdmin}}
                        {{#unless isRegister}}
                        <li><a data-id="{{idCourse}}" href="#" data-tip="Add to Cart" class="addItem"><i
                                    class="fa fa-shopping-cart "></i></a></li>
                        {{/unless}}
                        {{/unless}}
                        {{/unless}}
                        {{/if}}

                    </ul>
                    <span class="product-new-label">New</span>
                    <span class="product-discount-label">-10%</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="/courses/detail/{{idCourse}}">{{title}}</a></h3>
                    <span class="teacher"><a href="">{{fullname}}</a></span>
                    {{#if notReview}}
                    <p>No Review</p>
                    {{else}}
                    <ul class="rating">
                        {{{calcStars totalPoint}}}
                    </ul>
                    {{/if}}
                    <div class="price">
                        ${{price}}
                        <span>$5.00</span>
                    </div>
                    {{#if ../auth}}
                    {{#unless ../isTeacher}}
                    {{#unless ../isAdmin}}
                    {{#unless isRegister}}
                    <a data-id="{{idCourse}}" class="add-to-cart addItem" href="#">ADD TO CART</a>
                    {{/unless}}
                    {{/unless}}
                    {{/unless}}
                    {{/if}}
                </div>
            </div>
            {{/unless}}
            {{/each}}
        </div>
        <!--.Carousel-->

    </div>
    <div class="container">
        <h3>Top the most view courses</h3>

        <!-- Carousel -->
        <div class="owl-carousel owl-theme myCarousel">

            <!-- Carousel items -->
            {{#each this.topView }}
            {{#unless disable}}
            <div class="product-grid4 h-100">
                <div class="product-image4">
                    <a href="/courses/detail/{{idCourse}}">
                        <img class="pic-1" style="height: 150px" src="{{imagePath}}">
                        <img class="pic-2" style="height: 150px" src="{{imagePath}}">
                    </a>
                    <ul class="social">
                        <li><a href="/courses/detail/{{idCourse}}" data-tip="Quick View" role="button"><i
                                    class="fa fa-eye"></i></a></li>
                        {{#if ../auth}}
                        {{#unless isFavorite}}
                        <li><a href="/account/favoriteCourses/add/{{idCourse}}" data-tip="Like the course"
                                role="button"><i class="fa fa-heart"></i></a></li>
                        {{/unless}}
                        {{#unless ../isTeacher}}
                        {{#unless ../isAdmin}}
                        {{#unless isRegister}}
                        <li><a data-id="{{idCourse}}" href="#" data-tip="Add to Cart" class="addItem"><i
                                    class="fa fa-shopping-cart "></i></a></li>
                        {{/unless}}
                        {{/unless}}
                        {{/unless}}
                        {{/if}}

                    </ul>
                    <span class="product-new-label">New</span>
                    <span class="product-discount-label">-10%</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="/courses/detail/{{idCourse}}">{{title}}</a></h3>
                    <span class="teacher"><a href="">{{fullname}}</a></span>
                    {{#if notReview}}
                    <p>No Review</p>
                    {{else}}
                    <ul class="rating">
                        {{{calcStars totalPoint}}}
                    </ul>
                    {{/if}}
                    <div class="price">
                        ${{price}}
                        <span>$5.00</span>
                    </div>
                    {{#if ../auth}}
                    {{#unless ../isTeacher}}
                    {{#unless ../isAdmin}}
                    {{#unless isRegister}}
                    <a data-id="{{idCourse}}" class="add-to-cart addItem" href="#">ADD TO CART</a>
                    {{/unless}}
                    {{/unless}}
                    {{/unless}}
                    {{/if}}
                </div>
            </div>
            {{/unless}}
            {{/each}}
        </div>
        <!--.Carousel-->

    </div>
    <div class="container">
        <h3>New courses</h3>

        <!-- Carousel -->
        <div class="owl-carousel owl-theme myCarousel">

            <!-- Carousel items -->
            {{#each this.newCourses }}
            {{#unless disable}}
            <div class="product-grid4 h-100">
                <div class="product-image4">
                    <a href="/courses/detail/{{idCourse}}">
                        <img class="pic-1" style="height: 150px" src="{{imagePath}}">
                        <img class="pic-2" style="height: 150px" src="{{imagePath}}">
                    </a>
                    <ul class="social">
                        <li><a href="/courses/detail/{{idCourse}}" data-tip="Quick View" role="button"><i
                                    class="fa fa-eye"></i></a></li>
                        {{#if ../auth}}
                        {{#unless isFavorite}}
                        <li><a href="/account/favoriteCourses/add/{{idCourse}}" data-tip="Like the course"
                                role="button"><i class="fa fa-heart"></i></a></li>
                        {{/unless}}
                        {{#unless ../isTeacher}}
                        {{#unless ../isAdmin}}
                        {{#unless isRegister}}
                        <li><a data-id="{{idCourse}}" href="#" data-tip="Add to Cart" class="addItem"><i
                                    class="fa fa-shopping-cart "></i></a></li>
                        {{/unless}}
                        {{/unless}}
                        {{/unless}}
                        {{/if}}

                    </ul>
                    <span class="product-new-label">New</span>
                    <span class="product-discount-label">-10%</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="/courses/detail/{{idCourse}}">{{title}}</a></h3>
                    <span class="teacher"><a href="">{{fullname}}</a></span>
                    {{#if notReview}}
                    <p>No Review</p>
                    {{else}}
                    <ul class="rating">
                        {{{calcStars totalPoint}}}
                    </ul>
                    {{/if}}
                    <div class="price">
                        ${{price}}
                        <span>$5.00</span>
                    </div>
                    {{#if ../auth}}
                    {{#unless ../isTeacher}}
                    {{#unless ../isAdmin}}
                    {{#unless isRegister}}
                    <a data-id="{{idCourse}}" class="add-to-cart addItem" href="#">ADD TO CART</a>
                    {{/unless}}
                    {{/unless}}
                    {{/unless}}
                    {{/if}}
                </div>
            </div>
            {{/unless}}
            {{/each}}
        </div>
        <!--.Carousel-->

    </div>
    <div class="container">
        <h3>Top the most registered category</h3>

        <!-- Carousel -->
        <div class="owl-carousel owl-theme myCarousel">

            <!-- Carousel items -->
            {{#each this.topRegister }}
            {{#unless disable}}
            <div class="product-grid4 h-100">
                <div class="product-image4">
                    <a href="/courses/detail/{{idCourse}}">
                        <img class="pic-1" style="height: 150px" src="{{imagePath}}">
                        <img class="pic-2" style="height: 150px" src="{{imagePath}}">
                    </a>
                    <ul class="social">
                        <li><a href="/courses/detail/{{idCourse}}" data-tip="Quick View" role="button"><i
                                    class="fa fa-eye"></i></a></li>
                        {{#if ../auth}}
                        {{#unless isFavorite}}
                        <li><a href="/account/favoriteCourses/add/{{idCourse}}" data-tip="Like the course"
                                role="button"><i class="fa fa-heart"></i></a></li>
                        {{/unless}}
                        {{#unless ../isTeacher}}
                        {{#unless ../isAdmin}}
                        {{#unless isRegister}}
                        <li><a data-id="{{idCourse}}" href="#" data-tip="Add to Cart" class="addItem"><i
                                    class="fa fa-shopping-cart "></i></a></li>
                        {{/unless}}
                        {{/unless}}
                        {{/unless}}
                        {{/if}}

                    </ul>
                    <span class="product-new-label">New</span>
                    <span class="product-discount-label">-10%</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="/courses/detail/{{idCourse}}">{{title}}</a></h3>
                    <span class="teacher"><a href="">{{fullname}}</a></span>
                    {{#if notReview}}
                    <p>No Review</p>
                    {{else}}
                    <ul class="rating">
                        {{{calcStars totalPoint}}}
                    </ul>
                    {{/if}}
                    <div class="price">
                        ${{price}}
                        <span>$5.00</span>
                    </div>
                    {{#if ../auth}}
                    {{#unless ../isTeacher}}
                    {{#unless ../isAdmin}}
                    {{#unless isRegister}}
                    <a data-id="{{idCourse}}" class="add-to-cart addItem" href="#">ADD TO CART</a>
                    {{/unless}}
                    {{/unless}}
                    {{/unless}}
                    {{/if}}
                </div>
            </div>
            {{/unless}}
            {{/each}}
        </div>
        <!--.Carousel-->
    </div>
</div>