<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Shopping Cart</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->
{{#section 'js'}}
<script>
    $('.removeItem').on('click', function () {
        const id = $(this).data('id');
        $('#removeID').val(id);
        $('#frmRemoveItem').submit();
    })
</script>
{{/section}}


<!--================Cart Area =================-->
{{#if this.emtpy }}
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive align-items-center">
                <h3>
                    Your cart is empty,
                    <a href="/courses" class="badge badge-primary"> buy courses now</a>
                </h3>
            </div>
        </div>
    </div>
</section>

{{else}}

<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <form action="/cart/remove" method="POST" id="frmRemoveItem">
                    <input type="hidden" name="id" id="removeID">
                </form>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>

                            <th scope="col">
                                &nbsp;
                            </th>
                            <th scope="col">Price</th>
                            <th scope="col">
                                &nbsp;
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each this.items}}
                        <tr>
                            <td>
                                <a href="/courses/detail/{{course.idCourse}}">
                                    <div class="media-body d-flex justify-content-between">
                                        <img style="height: 150px; width:255px" src="{{course.imagePath}}">
                                        <div>
                                            <p class="pl-2">{{course.title}}</p>
                                            <p class="pl-2 font-weight-bold">{{course.fullname}}</p>
                                        </div>

                                    </div>
                                </a>
                            </td>

                            <td>
                                &nbsp;
                            </td>
                            <td class="pt-3">
                                <h5>${{course.price}}</h5>
                            </td>
                            <td class="pt-2">
                                <button data-id="{{course.idCourse}}" class="btn btn-outline-danger removeItem">
                                    <i class="fa fa-trash p fa-lg" aria-hidden="true"></i>
                                </button>


                            </td>
                        </tr>
                        {{/each}}
                        <tr>

                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5>${{this.total}}</h5>
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>

                        <tr>

                            <td class="button-bottom">
                                <div>
                                    <a class="gray_btn text-center" href="#">Continue Shopping</a>
                                    <a class="primary-btn" href="#">Proceed to checkout</a>
                                </div>
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{{/if}}
<!--================End Cart Area =================-->