<form method="POST">
    <div class="card">
        <div class="card-header">
            <h4>User</h4>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="txtID">#</label>
                <input type="text" class="form-control" id="txtID" name="id" readonly value="{{this.user.id}}">
            </div>

            <div class="form-group">
                <label for="txtUsername">Username</label>
                <input type="text" class="form-control" id="txtUsername" name="username" autofocus required
                    value="{{this.user.username}}">
            </div>

            <div class="form-group">
                <label for="txtFullname">Full name</label>
                <input type="text" class="form-control" id="txtFullname" name="fullname" value="{{this.user.fullname}}">
            </div>

            <div class="form-group">
                <label for="txtEmail">Email</label>
                <input type="text" class="form-control" id="txtEmail" name="email" value="{{this.user.email}}">
            </div>

            <div class="form-group">
                <label for="txtDob">Date of Birth</label>
                <input type="text" class="form-control" id="txtDob" name="dob" value="{{this.user.dob}}">
            </div>

            <div class="form-group">
                <label for="txtRole">Role</label>
                <input type="text" class="form-control" id="txtRole" name="role" value="{{this.user.role}}">
            </div>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" href="/admin/users" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
                Back to List
            </a>
            <button class="btn btn-danger" type="submit" formaction="/admin/users/delete">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                Delete
            </button>
            <button class="btn btn-success" type="submit" formaction="/admin/users/patch">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </div>
    </div>
</form>