{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/css/fileinput.min.css">

{{/section}}

{{#section 'js'}}
{{!-- Editor > --}}
<script src="https://cdn.tiny.cloud/1/ezd73nxbzc7bu6e86g2l82jbbffke0mwevwrnyvc5q8h89j6/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea',
        plugins: 'paste image link autolink lists table media',
        menubar: false,
        toolbar: [
            'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
        ],
    });
</script>
{{!--< Editor --}} 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    {{!-- File Upload> --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/themes/fa/theme.min.js"></script>

    <script>
        $('#txtAvatar').fileinput({
            theme: 'fa',
            allowedFileExtensions: ['jpg', 'png'],
            dropZoneEnabled: false,
        });
    </script>
    {{!-- < File Upload --}}
    <script>
        $('#txtDob').datetimepicker({
            format: 'd/m/Y',
            timepicker: false,
            mask: true,
            scrollInput: false
        });

        $('#txtRole').val($('#txtRoletemp').val());

        function checkEmail(email) {
            if (/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(email)) {
                return true;

            } else {
                return false;
            }
        }

        $('#save').click(function () {
            $('#frmEdit').attr('action', '/admin/users/patch');
            $('#frmEdit').submit();
        });

        $('#delete').click(function () {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    ).then(function () {
                        $('#frmEdit').attr('action', '/admin/users/delete');
                        $('#frmEdit').off('submit').submit();
                    });
                }
            });
        });

        $('#frmEdit').on('submit', function (e) {
            e.preventDefault();

            const username = $('#txtUsername').val();
            const name = $('#txtFullName').val();
            const email = $('#txtEmail').val();
            const dob = $('#txtDob').val();
            const role = $('#txtRole').val();
            const description = $('#txtUserDescription').val();

            if (username.length === 0) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Invalid username',
                    icon: 'error',
                    confirmButtonText: 'Retry'
                })
                return;
            } else if (name.length === 0) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Invalid Name',
                    icon: 'error',
                    confirmButtonText: 'Retry'
                })
                return;
            } else if (checkEmail(email) === false) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Invalid email',
                    icon: 'error',
                    confirmButtonText: 'Retry'
                })
                return;
            } else if (dob.length === 0) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Invalid Date of Birth',
                    icon: 'error',
                    confirmButtonText: 'Retry'
                })
                return;
            } else if (role.length === 0) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Invalid Role',
                    icon: 'error',
                    confirmButtonText: 'Retry'
                })
                return;
            } else {
                if (username !== "{{this.user.username}}") {
                    $.getJSON(`/account/isAvailable?user=${username}`, function (data) {
                        if (data === false) {
                            Swal.fire({
                                title: 'Error!',
                                text: 'Username already exists! Please enter another username',
                                icon: 'error',
                                confirmButtonText: 'Retry'
                            });
                            return;
                        }
                    })
                }
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Change successfully',
                    showConfirmButton: false,
                    timer: 1000
                }).then(function () {
                    $('#frmEdit').off('submit').submit();
                });

            }
        })
    </script>

    {{/section}}
    <form id="frmEdit" method="POST" enctype="multipart/form-data">
        <div class="card">
            <div class="card-header">
                <h4>User</h4>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="txtID">#</label>
                    <input type="text" class="form-control" id="txtID" name="idUser" readonly
                        value="{{this.user.idUser}}">
                </div>
                
                <div class="form-group">
                    <label>Preview Avatar</label> <br>
                    <img style="width: 200px;" src="{{this.user.avatar}}" alt="no preview image found">
                </div>
                <input type="hidden" value="{{this.user.avatar}}" name="previewAvatar">

                <div class="form-group">
                    <label for="txtAvatar">New Avatar</label>
                    <input type="file" class="form-control-file" id="txtAvatar" name="avatar">
                </div>
    
                <div class="form-group">
                    <label for="txtUsername">Username</label>
                    <input type="text" class="form-control" id="txtUsername" name="username" autofocus required
                        value="{{this.user.username}}">
                </div>

                <div class="form-group">
                    <label for="txtFullName">Full name</label>
                    <input type="text" class="form-control" id="txtFullName" name="fullname"
                        value="{{this.user.fullname}}">
                </div>

                <div class="form-group">
                    <label for="txtEmail">Email</label>
                    <input type="text" class="form-control" id="txtEmail" name="email" value="{{this.user.email}}">
                </div>

                <div class="form-group">
                    <label for="txtDob">Date of Birth</label>
                    <input type="text" class="form-control" id="txtDob" name="dob" value="{{this.user.dob}}">
                </div>

                <div class="form-group">
                    <label for="txtRole" class="my-1 ml-3"><b>Role</b></label>
                    <input type="hidden" class="form-control" id="txtRoletemp" name="roletemp"
                        value="{{this.user.role}}">
                    <select name='role' id="txtRole" value="{{this.user.role}}">
                        <option value="student">Student</option>
                        <option value="teacher">Teacher</option>
                        <option value="admin">Admin</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="txtUserDescription">User Description</label>
                    <textarea class="form-control" id="txtUserDescription"
                        name="userDescription">{{this.user.userDescription}}</textarea>
                </div>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="/admin/users" role="button">
                    <i class="fa fa-backward" aria-hidden="true"></i>
                    Back to List
                </a>
                <button class="btn btn-danger" type="button" formaction="/admin/users/delete" id="delete">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Delete
                </button>
                <button class="btn btn-success" type="button" formaction="/admin/users/patch" id="save">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Save
                </button>
            </div>
        </div>
    </form>